<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>{{ titulo }}</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/>
    </script>
</head>
<body>
        {% include "crud.twig" %}
        {% include "scriptsPadroesCrud.twig" %}
</body>
</html>
